<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- Grid container -->
<div th:fragment="footer" class="container p-1">
        <!-- Section: Social media -->
        <div class="mb-4">
                <!-- Facebook -->
                <i class="fab fa-facebook-f"></i>

                <!-- Twitter -->
                <i class="fab fa-twitter"></i>

                <!-- Google -->
                <i class="fab fa-google"></i>

                <!-- Instagram -->
                <i class="fab fa-instagram"></i>

                <!-- Github -->
                <i class="fab fa-github"></i>

        </div>

        <!-- Section: Text -->
        <div>
                <p>Endereço: Rua XX, número: XX - Bairro: Centro, Uberlândia.</p>
        </div>
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center pb-3">
        © 2021 Copyright:
        <a class="text-white" href="# ">SmartSchool.com.br</a>
</div>
<!-- Copyright -->

</html>
<!-- Footer -->